extends admin_main

block content
  h1 Lessons timetable

  each lesson in lessons
    p #{lesson.teacher}
    p #{lesson.day} 
    p #{lesson.time}
    p #{lesson.style}
    p #{lesson.classroom}
    form(method='POST' action='')
      input(type='hidden', name='lessonid', value=lesson._id, required='true')
      button(type='submit') Delete
