extend admin_main

block content
  h1= "Student Password Reset"
  form(method='POST', action='')
    label(for='name') Student name
    input(type='search', id='name', name='name', value=name)
    label(for='surname') Surname
    input(type='search', id='surname', name='surname', value=surname)
    button(type='submit') Find
  if name 
   form(method='POST', action='')
     label(name='old') Old password
     input(type="password", id='old', name='old')
     label(for='password') Password
     input(type='password', id='password', name='password')
     input(type='hidden', name='name', value=name)
     input(type='hidden', name='surname', value=surname)
     button(type='submit') Update

