extend student_main

block content
  h1= "Cancel lesson"
  if booked
    each lesson in booked
      form(method='POST', action='')
        dl
          dt #{lesson.style}
          dd #{lesson.teacher}
          dd #{lesson.day} 
          dd #{lesson.time}
          dd #{lesson.classroom}
        input(type='hidden', name='name', value=name)
        input(type='hidden', name='surname', value=surname)
        input(type='hidden', name='lessonid' value=lesson._id)
        button(type='submit') Cancel
